<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ title }}</title>

	<meta name='robots' content='max-image-preview:large' />

	<link rel='dns-prefetch' href='//js.stripe.com' />
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />
	<link rel='dns-prefetch' href='//s.w.org' />
	<link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />

	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<header>
		<strong>{{ title }}</strong>
	</header>
	<main>
		{{ content | safe }}
	</main>
</body>
</html>